<div class = "container-fluid maincontainer">
<footer>
  	<h4 class = "sfont">
	-------------------------------------------- THANK YOU FOR VISITING --------------------------------------------
	</h4>
</footer>
</div>
</body>
</html>