<!-- for comments new -->
<% include ../partials/header %>
<div class = "container">
	<div class = "row">	
	<h1 style = "text-align:center">Edit Comment</h1>
		<div style = "width:30%; margin:30px auto;">
			<form action = "/foods/<%= food_id %>/comments/<%= comment._id %>?_method=PUT" method = "POST">
				<div class = "form-group">
					<input class="form-control" type="text" name = "comment[text]"  value="<%= comment.text %>">
				</div>
				<!-- No longer needs to have author because users have logged in -->
				<div class = "form-group">
					<button class= "btn btn-lg btn-primary btn-block">Submit!</button>	<!-- btn-block has the button use same width, primay makes blue  -->
				</div>
			</form>
			<a href="/foods" >Go back</a>
		</div>	
	</div>
</div>
<% include ../partials/footer %>