<% include partials/header %>

<h1>This is the post page</h1>

<% for (var i = 0; i < postVar.length; i++){ %>
	<li> <%= postVar[i].title %> of author <strong><%= postVar[i].author %></strong> </li>
<%} %>

<!-- forEach is more commonly used -->
<p>
	 forEach is more commonly used, the same result but no need to play with index variable
</p>


<% postVar.forEach(function(post){ %>
	<li> <%= post.title %> of author <strong><%= post.author %></strong> </li>
<% }) %>

<% include partials/footer %>