/*Element*/
li{

}
/*class*/
.hello{

}
/*id*/
#name{

}

/*star selector: select all elements*/
* {
	border : 2px solid lightgrey;
}

/*从属关系*/
li a{
	border: 4px solid purple;
}

/*adjacent selector*/
h4 + ul{
	border : 4px solid red;
}

/*attribute selector*/
a[href="http://www.google.com"]{
	background: blue;
}

/*nth of type*/
ul:nth-of-type(3){
	background:purple;
}