<% include ../partials/header %>
<!-- navbar section is in the header.ejs file-->

<div class = "container-fluid maincontainer">
<!-- ================================= TOP ================================== -->

<!-- ================================= MIDDLE ================================== -->
<div class = "container-fluid" style = "background-color:rgba(2255,165,0,0.4);">	
	<div class = "row">
		
		<div class = "col-md-6" style = "height:500px; padding-left:0;padding-right:0;"><!---------------- middle left ----------------->
			<div>
				<div class = "col-md-6" style = "height:250px;background-color:rgba(255,165,0,0.4);"><!---------------- middle left ----------------->
					<p style="text-align:center;padding-top:85px">
						<h1>FOOD >>></h1>
					</p>
				</div>
				<div class = "col-md-6" style = "height:250px;background-color:rgba(255,165,0,0.4);padding-top:20px;padding-left:5px;"><!---------------- middle right ----------------->
					<img src = "https://res.cloudinary.com/pandapandawsh/image/upload/c_crop,h_1.0,w_0.66/v1566446487/Photo/IMG_5360_hc99sw.jpg" style="height:230px;" class = "img-rounded">
				</div>
			</div>
			<div>
				<div class = "col-md-6" style = "height:250px;background-color:rgba(255,165,0,0.4);padding-bottom:8px"><!---------------- middle left ----------------->
					<img src = "https://res.cloudinary.com/pandapandawsh/image/upload/v1566447770/Food/IMG_0948_umfyly.jpg" style="height:230px;width:230px;" class = "img-rounded">
				</div>

				<div class = "col-md-6" style = "height:250px;background-color:rgba(255,165,0,0.4);"><!---------------- middle right ----------------->
					<p style="text-align:center;padding:50% 40%">
						<h1>PHOTO</h1>
					</p>
				</div>
			</div>
		</div>

		<div class = "col-md-6" style = "height:500px;background-color:rgba(255,165,0,0.4)"><!---------------- middle right ----------------->
					<p style="text-align:center;padding:20% 30%">
						<h1> EXPLORE</h1>
					</p>
		</div>	
	</div>	
</div>
<!-- ================================= BOTTOM ================================== -->
</div>
<% include ../partials/footer %>

