<% include ../partials/header %>
<!-- navbar section is in the header.ejs file-->
<script style = "text/javascript">
function closeDiv() {
	$('.sectionbox').each(function(index) {
		$(this).hide(500);
	});	
};	
		
function toggleDiv(divID) {
     $('.sectionbox').each(function(index) {
          if ($(this).attr("id") == divID) {
               $(this).show(200);
          }
          else {
               $(this).hide(600);
          }
     });
}
</script>

<div class = "container-fluid maincontainer" style = "background-color:rgba(255,255,255,0.7);padding:0"> <!-- most external one -->
<!-- ================================= TOP ================================== -->
	<div class = "container-fluid" id = "topSection">
			<h1 style = "text-align:center; padding-top:5%;">
				<img src = "https://res.cloudinary.com/pandapandawsh/image/upload/v1566508879/index/LaVieDePanda_lq3yem.png" style = "width:40%">	
			</h1>
	</div>
<!-- ================================= MIDDLE ================================== -->
	<div>	
		<div class = "container-fluid">
		<div class = "row">
			<!----------- MIDDLE 1 ----------->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style = "padding-left:0;padding-right:0;">	
				<a href = "javascript:toggleDiv('ShowFoodSection');"><img src = "https://res.cloudinary.com/pandapandawsh/image/upload/v1566489822/Food/food_homecooking_czkwnm.jpg" style = "width:100%;"></a>
			</div>
			<!----------- MIDDLE 2 ----------->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style = "padding-left:0;padding-right:0;">
				<a href = "javascript:toggleDiv('ShowPhotoSection');"><img src = "https://res.cloudinary.com/pandapandawsh/image/upload/v1566489867/Photo/photography_nlq54v.jpg" style = "width:100%;"></a>
			</div>
			<!----------- MIDDLE 3 ----------->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sectionbackground" style = "padding-left:0;padding-right:0;">
				<!----------------------background ------------------->
				<img src = "https://res.cloudinary.com/pandapandawsh/image/upload/v1566512939/index/sectionBackground_gu7et8.png" style = "width:100%;">
					
				<div id = "overdiv">
					<!-- ------------------Profile pic ------------------>
					<!-- <div style = "text-align:center;"> -->
						<img class = "me" src="https://i.imgur.com/8ovgy3V.png">
					<!-- </div>	 -->
					<!-- --------------Follow me------------- -->
					<div style = "text-align:center;padding-top:0px;">	
						<% include followme %>
					</div>
				</div>
			</div>
		</div>
		</div>	
	</div>
<!-- ================================= BOTTOM ================================== -->
	<!---------------------------- FOOD -------------------------------->
	<div id = "ShowFoodSection" style = "display:none;" class = "sectionbox">
		<!-- --------------Spacing------------- -->
		<div class = "container-fluid" id = "sectionPic">
			<div class = "row sfont" style = "color:rgba(128,128,128,0.9); border-bottom: 1px solid rgba(128,128,128,0.9);margin:0 10%">
				<div class = "col-md-11" id = "sectionTitle">
					<h1> FOOD </h1>
					<p style = "font-style: italic;font-size: 1.3em;"> My breakfast, my lunchbox, and my cuisines. </p>
				</div>	
			</div>
		</div>
		<!-- --------------Load Post------------- -->
		<div class = "container-fluid">
			<div class = "row" style = "margin-left:1.5%;margin-right:1.5%;"> <!-- grid auto adjust -->
				<!-- loading pictures from the food array -->
				<% foods.forEach(function(food){ %>
					<% if(food.kind && food.kind=="food") { %>
					<div class = "col-lg-4 col-md-4 col-sm-6 col-xs-12" id = "loadPost">
						<div class = "cropper"  style = "margin:auto; margin-bottom: 1%">
								<img src= "<%= food.image %>" class = "img-crop"> 
								<p class = "overbutton">
									<% include toShowPage %>
									<!-- include modal -->
								</p>					
						</div>
					</div>
					<% } %> 
				<% }); %>	
			</div>
			<!------------------ close load --------------->
			<div class = "container-fluid sfont" style = "text-align:center;padding-bottom:2%">
				<a href = "javascript:closeDiv();">
					<h4>
						- Close -
					</h4>
				</a>	
			</div>
		</div>
	</div>
	
	<!--------------------------- PHOTO ----------------------------->
	<div id = "ShowPhotoSection" style = "display:none;" class = " sectionbox">
		<!-- --------------Spacing------------- -->
		<div class = "container-fluid" style = "height:23rem;">
			<div class = "row sfont" style = "color:rgba(128,128,128,0.9); border-bottom: 1px solid rgba(128,128,128,0.9);margin:0 10%">
				<div class = "col-md-10" style = "padding-top:9rem;">
					<h1> PHOTO </h1>
					<p style = "font-style: italic;font-size: 1.3em;">About daily life, about special moment, about the world in my eyes.</p>	
				</div>	
			</div>	
		</div>
		<!-- --------------Load Post------------- -->
		<div class = "container-fluid">
			<div class = "row" style = "margin-left:1.5%;margin-right:1.5%;"> <!-- grid auto adjust -->
				<!-- loading pictures from the food array -->
				<% foods.forEach(function(food){ %>
					<% if(food.kind && food.kind=="photo") { %>
					<div class = "col-lg-4 col-md-4 col-sm-6">
						<div class = "cropper"  style = "margin:auto; margin-bottom: 4em">
							<div>
								<img src= "<%= food.image %>" class = "img-crop"> 
								<p class = "overbutton">
									<% include toShowPage %>
									<!-- include modal -->
								</p>
							</div>					
						</div>
					</div>
					<% } %> 
				<% }); %>	
			</div>
			<!------------------ close load --------------->
			<div class = "container-fluid sfont" style = "text-align:center; padding-bottom:2%">
				<a href = "javascript:closeDiv();">
					<h4>
						- Close -
					</h4>
				</a>	
			</div>
		</div>
	</div>
</div> <!-- most external one -->
			
<% include ../partials/footer %>

