<% include ../partials/header %>


<div class = "container-fluid maincontainer" id = "showSection">
		<!-- =================== Content =================== -->
		<div class = "col-md-8 sfont" id = "showContent">
				<img class = "img-responsive" src = "<%= food.image %>"> <!-- image -->	
			
		</div>
		<!-- =================== Comment =================== -->
		<!-- include show_comment -->
		<div class = "well col-md-4 sfont" id = "showComment"> 
			<% include show_InPageComment %>
		</div>
		<!-- =================== Go Back =================== -->
	    <!-- <a href="/foods/" onclick="window.history.back();return false;">Previous Page</a> -->
</div> <!----------------------- most external one ------------------------->
	
<% include ../partials/footer %>