<% include ./partials/header %>
<!-- ---------------------------------------------------------------------------- -->
<div class = "container-fluid maincontainer sfont" style = "background-color:rgba(255,255,255,0.7);padding-bottom:10em">
	<h1 class = "loginSection">Sign up</h1>
		<form class="form-horizontal loginSection" action = "/register" method = "post">
		    <div class="form-group">
			<label class = "col-md-3 col-sm-3" style = "margin:0">E-mail   </label>
				<div class = "col-md-9">
				<input type="email" name = "e_mail" class="form-control"> 
				</div>	
		    </div>
		    <div class="form-group">
			<label class = "col-md-3 col-sm-3" style = " margin:0">Username   </label>
				<div class = "col-md-9">
				<input type="text" name = "username" class="form-control"> 
				</div>	
		    </div>
		    <div class="form-group" style = "padding-bottom:0.2em;">
			    <label class = "col-md-3 col-sm-3" style = " margin:0">Password   </label>
			  	<div class = "col-md-9">
				<input type="password" class="form-control" name = "password">	
			  	</div>	
		    </div>
		    <div class = "form-group">
			    <button type="submit" class="btn btn-default">   Sign up to comment, to support  </button>
		    </div>
		  
		</form>	
</div>

<% include ./partials/footer %>