body {
	background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 34vh;
}

.sfont {
	font-family:'Seaweed Script', cursive;
}

.btn {
	background-color:rgba(255,255,255,0.4);
	border: rgba(255,255,255,0.4);
	height: 70px !important;
}


#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; /* fade images in and out */
}

.slideshow li:nth-child(1) { 
  background-image: url(https://res.cloudinary.com/pandapandawsh/image/upload/v1566453718/Photo/B05061BB-EC58-4F7E-841B-746EE6B01A17_wf97nr.jpg) ;
}
.slideshow li:nth-child(2) {
  background-image: url(https://res.cloudinary.com/pandapandawsh/image/upload/v1566572412/Food/2F0CB832-6F93-488C-850F-D4C7CA2F5937_d002pf.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://res.cloudinary.com/pandapandawsh/image/upload/v1566514928/Photo/_19_00321_uqacph.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://res.cloudinary.com/pandapandawsh/image/upload/v1566572420/Food/419ED5C4-DA05-4838-85AE-4CBB27D3B80C_ysaq76.jpg);
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

